# ignore nfl big data bowl files
nfl-big-data-bowl/
weekMod17.csv
weekModpos.csv

# ignore jupyter checkpoints
.ipynb_checkpoints/

# ignore Literature
# Literature/

# ignore images or animations
*.mp4
overleaf-figs/